#wrapper {
    width: 100px;
    height: 100px;
    background: rgb(255, 162, 0);
    border-radius: 30px;
    /* margin: 10px; */
  }
  
  #wrapper2 {
      width: 100px;
      height: 100px;
      background: aqua;
      border-radius: 30px;
      /* margin: 10px; */
  }
  
  h1 {
      color: azure;
  }
  
  #image {
      filter: url(#heat);
  }
  
  .container-flip {
      color: #fff;
  }
  
  .container-target {
      background-color: aqua;
      width: 200px;
      height: 140px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .container-target h1 {
  
  }
  
  .container-other {
      width: 400px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      background-color:brown;
      /* padding: 20px 30px; */
  }
  
  .container-other p {
      /* padding: 15px; */
  }
  